.advantages {
  background-color: $background-gray;
}

.advantages__wrapper {
  width: 100%;
  padding-top: 116px;
  padding-bottom: 47px;

  @media (max-width: 1365px) {
    padding-left: 2.6%;
    padding-right: 2.6%;
  }
}

.advantages__wrapper h2 {
  margin: 0;
  padding: 0;
  font-family: $bebas-font;

  @include font-setting(49px, 49px, bold, $darknest-blue);

  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.advantages__inner {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  padding: 44px 60px 40px 60px;

  @media (min-width: 1365px) {
    width: 1160px;
    margin: 0 auto;
  }
}

.advantages__inner-list {
  display: flex;
  flex-flow: row;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  &--shift {
    margin-top: -100px;
  }

  &--border .advantages__inner-item {
    border-bottom: 2px solid rgba(209, 10, 66, 0.2);
  }
}

.advantages__inner-item {
  display: flex;
  flex-flow: row wrap;
  width: 32.6923%;
  min-height: 182px;
  padding: 21px 0 25px;

  &:nth-of-type(odd) {
    margin-right: 34.8076%;
  }

  // Для переполнения
  &:nth-of-type(3n) {
    border-top: 2px solid rgba(209, 10, 66, 0.2);
  }

  &--layout-shift {
    padding-left: 27px;
  }

  &--designer-mistake {
    padding-left: 20px;
  }
}

.advantages__facts-short {
  display: flex;
  flex-flow: column;
  width: 29.4117%;
  margin: 0;
  margin-right: 0.5882%;
  padding: 0;

  &--layout-shift {
    width: 35.2941%;
    margin-right: 8.4%;

    @media (max-width: 1202px) {
      width: 36.2941%;
      margin-right: 7.4%;
    }
  }
}

.advantages__facts-short b {
  display: block;
  margin-top: -21px;
  font-family: $default-font;

  @include font-setting(71px, 106px, bold, #2e35ac);

  background: linear-gradient(150deg, #d10e0a 11%, #0041ca 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  word-wrap: break-word;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background: none;
  }
}

.advantages__facts-short span {
  margin-top: -22px;
  font-family: $default-font;

  @include font-setting(14px, 21px, normal, #2e35ac);

  word-wrap: break-word;
}

.advantages__facts {
  display: flex;
  flex-flow: column;
  width: 69.7058%;
  margin: 0;
  padding: 0;

  &--layout-shift {
    width: 56%;
  }

  &--layout-shift span {
    letter-spacing: -0.02em;
  }
}

.advantages__facts b {
  margin-bottom: 6px;
  font-family: $default-font;

  @include font-setting(22px, 33px, bold, $darknest-blue);

  text-align: left;
  word-wrap: break-word;
}

.advantages__facts span {
  font-family: $default-font;

  @include font-setting(16px, 22px, normal, $darknest-blue);

  text-align: left;
  word-wrap: break-word;
}

.advantages__special {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 23.1730%;
  min-height: 307px;
  margin: -154px 0 0 calc(50% - 120px);
  padding: 36px 34px 60px;
  background-color: $blue;
}

.advantages__special b {
  font-family: $default-font;

  @include font-setting(74px, 111px, bold, $white);

  text-align: center;
  word-wrap: break-word;
}

.advantages__special span {
  margin: -16px 0 30px;

  font-family: $default-font;

  @include font-setting(26px, 39px, bold, $white);

  text-align: center;
  word-wrap: break-word;
}

.advantages__special p {
  margin: 0;
  padding: 0;
  font-family: $default-font;

  @include font-setting(16px, 24px, normal, $white);

  text-align: center;
  word-wrap: break-word;
}

@media (max-width: $desktop-width) {
  .advantages__wrapper {
    padding-top: 96px;
    padding-bottom: 20px;
  }

  .advantages__wrapper h2 {
    @include font-setting(42px, 42px, bold, $darknest-blue);
  }

  .advantages__inner {
    display: flex;
    flex-flow: row wrap;
    padding: 32px 0 0 0;

    @media (min-width: 900px) {
      width: 853px;
      margin: 0 auto;
    }
  }

  .advantages__inner-list {
    &--shift {
      margin-top: 0;
    }

    &--border .advantages__inner-item {
      border-bottom: none;
    }

    @media (min-width: 900px) {
      justify-content: space-between;
    }
  }

  .advantages__inner-item {
    width: 46%;
    padding: 14px 0 25px;

    &:nth-of-type(odd) {
      margin-right: 6%;
    }

    // Для переполнения
    &:nth-of-type(3n) {
      border-top: none;
    }

    &--layout-shift {
      padding-left: 25px;
    }

    &--designer-mistake {
      padding-left: 25px;
    }
  }

  .advantages__facts-short {
    width: 26%;
    margin-right: 0.5882%;
    padding: 0;

    &--layout-shift {
      width: 29.8%;
      margin-right: 8.4%;
    }
  }

  .advantages__facts-short b {
    margin-top: -14px;

    @include font-setting(58px, 87px, bold, #2e35ac);
  }

  .advantages__facts-short span {
    margin-top: -18px;
  }

  .advantages__facts {
    width: 69.7058%;

    &--layout-shift {
      width: 59%;
    }

    &--layout-shift span {
      letter-spacing: -0.02em;
    }
  }

  .advantages__facts b {
    margin-bottom: 3px;

    @include font-setting(20px, 30px, bold, $darknest-blue);
  }

  .advantages__special {
    align-items: center;
    width: 60.7142%;
    min-height: 239px;
    margin: -48px 0 28px 19.6428%;
    padding: 18px 36px 36px;
    background-color: $blue;
  }

  .advantages__special b {
    margin-top: -4px;

    @include font-setting(74px, 111px, bold, $white);
  }

  .advantages__special span {
    margin: -17px 0 14px;

    @include font-setting(22px, 33px, bold, $white);
  }

  .advantages__special p {
    width: 48.6486%;
  }
}

@media (max-width: $tablet-width) {
  .advantages__wrapper {
    padding-top: 67px;
    padding-bottom: 20px;

    @media (min-width: 500px) {
      width: 500px;
    }
  }

  .advantages__wrapper h2 {
    @include font-setting(32px, 32px, bold, $darknest-blue);
  }

  .advantages__inner {
    flex-flow: column;
    padding: 32px 0 0 0;
  }

  .advantages__inner-list {
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 14px 0 10px 0;
  }

  .advantages__inner-item {
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;

    &:nth-of-type(odd) {
      margin-right: 0;
    }

    &--layout-shift {
      padding-left: 0;
    }

    &--designer-mistake {
      padding-left: 0;
    }
  }

  .advantages__facts-short {
    width: 100%;
    margin-right: 0;
    padding: 0;

    &--layout-shift {
      width: 100%;
      margin-right: 0;
    }
  }

  .advantages__facts-short b {
    margin-top: -14px;

    @include font-setting(58px, 87px, bold, #2e35ac);

    text-align: center;
  }

  .advantages__facts-short span {
    margin-top: -18px;
    text-align: center;
  }

  .advantages__facts {
    width: 100%;
    margin-top: -19px;

    &--layout-shift {
      width:100%;
    }

    &--layout-shift span {
      letter-spacing: -0.02em;
    }
  }

  .advantages__facts b {
    margin-bottom: 2px;

    @include font-setting(20px, 30px, bold, $darknest-blue);

    text-align: center;
  }

  .advantages__facts span {
    padding: 0 34px;
    text-align: center;
  }

  .advantages__special {
    width: calc(100% + 5.3125% * 2);
    margin: 0 0 25px -5.3125%;

    @media (min-width: 500px) {
      width: 100%;
      margin: 0 0 25px 0;
    }
  }

  .advantages__special b {
    @include font-setting(74px, 111px, bold, $white);
  }

  .advantages__special span {
    margin: -25px 0 8px;

    @include font-setting(22px, 33px, bold, $white);
  }

  .advantages__special p {
    width: 70%;
  }
}
