.feedback {
  display: flex;
  flex-flow: row;
  margin-top: 60px;
  border-top: 1px solid #74819C;
  background-image: linear-gradient(90deg, $darknest-blue 0%, $darknest-blue 50%, $white 50%, $white 100%);
}

.feedback__lesson {
  display: flex;
  flex-flow: column;
  width: 50%;
  padding: 58px 12.4450% 50px 7.5402%;

  @media (max-width: 1222px) {
    padding: 58px 11% 50px 7.5402%;
  }

  @media (min-width: $fixed-width) {
    width: 683px;
    margin-left: auto;
    padding: 58px 170px 50px 103px;
  }
}

.feedback__lesson h3 {
  margin: 0 0 20px;
  padding: 0;
  font-family: "Bebas Neue Cyrillic", "Arial", sans-serif;

  @include font-setting(49px, 64px, normal, $white);

  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.feedback__lesson-form {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 19px 0 0 0;
}

.feedback__lesson-form input {
  width: 46.3414%;
  margin-bottom: 29px;
  padding: 3px 15px 5px 0;
  font-family: $default-font;

  @include font-setting(14px, 16px, normal, $white);

  border: none;
  border-bottom: 1px solid #74819c;
  background-color: transparent;

  &:nth-of-type(odd) {
    margin-right: 7.3172%;
  }

  &:hover,
  &:focus {
    border-bottom: 1px solid $white;
    outline: none;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    opacity: 0.6;
  }

  &::placeholder {
    color: $white;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent
  }

  &:focus::-moz-placeholder {
    color: transparent
  }

  &:focus:-moz-placeholder {
    color: transparent
  }

  &:focus:-ms-input-placeholder {
    color: transparent
  }
}

.feedback__lesson-form button {
  width: 100%;
  padding: 15px;
  font-family: $default-font;

  @include font-setting(14px, 16px, normal, $white);

  border: 3px solid $white;
  background-color: transparent;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.feedback__contacts {
  display: flex;
  flex-flow: column;
  width: 50%;
  padding: 58px 7.5402% 47px 9.0775%;
  background-color: $white;

  @media (min-width: $fixed-width) {
    width: 683px;
    margin-right: auto;
    padding: 58px 103px 47px 124px;
  }
}

.feedback__contacts h3 {
  margin: 0 0 20px -4px;
  padding: 0;
  font-family: "Bebas Neue Cyrillic", "Arial", sans-serif;

  @include font-setting(49px, 64px, normal, $darknest-blue);

  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.feedback__contacts ul {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  padding: 17px 0 0 0;
  list-style: none;

  &::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 50.5%;
    width: 1px;
    height: calc(100% - 22px - 23px);
    background-color: #74819c;
    transform: translateX(-50.5%);
  }
}

.feedback__item {
  display: flex;
  flex-flow: column;
  width: 43.8596%;
  min-height: 55px;
  margin-bottom: 10px;

  &:nth-of-type(odd) {
    margin-right: 30px;
  }

  &:nth-of-type(even) {
    padding-left: 60px;
  }
}

.feedback__item b {
  margin-bottom: 2px;
  font-family: $default-font;

  @include font-setting(16px, 24px, bold, $darknest-blue);

  word-wrap: break-word;
}

.feedback__item address,
.feedback__item a,
.feedback__item p {
  font-family: $default-font;

  @include font-setting(14px, 21px, normal, $darknest-blue);

  word-wrap: break-word;
}

.feedback__item p {
  margin: 0;
  padding: 0;
}

.feedback__item address {
  font-style: normal;
}

@media (max-width: $desktop-width) {
  .feedback {
    flex-flow: column;
    margin-top: 50px;
    background-image: linear-gradient(180deg, $darknest-blue 0%, $darknest-blue 50%, $white 50%, $white 100%);
  }

  .feedback__lesson {
    flex-flow: column;
    width: 100%;
    padding: 66px 21.2239% 70px 17.3177%;
  }

  .feedback__lesson h3 {
    margin: 0 0 20px;

    @include font-setting(42px, 42px, normal, $white);
  }

  .feedback__lesson-form input {
    width: 43.644%;
    margin-bottom: 30px;

    &:nth-of-type(odd) {
      margin-right: 12.712%;
    }
  }

  .feedback__contacts {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 66px 21.2239% 44px 17.3177%;
    border-top: none;
  }

  .feedback__contacts h3 {
    margin: 0 0 20px 0;

    @include font-setting(42px, 42px, normal, $darknest-blue);
  }

  .feedback__contacts ul {
    &::after {
      top: 23px;
      left: 56.5%;
      height: calc(100% - 23px - 26px);
      transform: translateX(-56.5%);
    }
  }

  .feedback__item {
    display: flex;
    flex-flow: column;
    width: 46.6101%;
    min-height: 55px;
    margin-bottom: 18px;

    &:nth-of-type(odd) {
      margin-right: 6.7798%;
    }

    &:nth-of-type(even) {
      padding-left: 13.3474%;
    }
  }

  .feedback__item b {
    margin-bottom: 6px;

    @include font-setting(20px, 30px, bold, $darknest-blue);
  }

  .feedback__item address,
  .feedback__item a,
  .feedback__item p {
    @include font-setting(18px, 27px, normal, $darknest-blue);
  }
}

@media (max-width: $tablet-width) {
  .feedback {
    margin-top: 40px;
  }

  .feedback__lesson {
    padding: 66px 4.0625% 70px 4.0625%;
  }

  .feedback__lesson h3 {
    @include font-setting(32px, 32px, normal, $white);

    @media (min-width: 400px) {
      text-align: center;
    }
  }

  .feedback__lesson-form {
    padding: 21px 0 0 0;
  }

  .feedback__lesson-form input {
    width: 100%;
    margin-bottom: 35px;

    &:nth-of-type(odd) {
      margin-right: 0;
    }

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  .feedback__contacts {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 67px 4.0625% 43px 4.0625%;
    border-top: none;
  }

  .feedback__contacts h3 {
    @include font-setting(32px, 32px, normal, $darknest-blue);

    @media (min-width: 400px) {
      text-align: center;
    }
  }

  .feedback__contacts ul {
    &::after {
      display: none;
    }

    @media (min-width: 400px) {
      text-align: center;
    }
  }

  .feedback__item {
    width: 100%;
    margin-bottom: 19px;

    &:nth-of-type(odd) {
      margin-right: 0;
    }

    &:nth-of-type(even) {
      padding-left: 0;
    }

    &--schedule,
    &--address {
      order: -1;
    }
  }
}
