.gym {
  display: flex;
  flex-flow: row;
  padding-top: 120px;
  padding-bottom: 120px;
}

.gym__title {
  width: 36.2068%;
  margin-right: 6.8965%;
  padding: 45px 0 10px 60px;
}

.gym__title h2 {
  margin: 0 0 10px 0;
  padding: 0;
  font-family: "Bebas Neue Cyrillic", "Arial", sans-serif;

  @include font-setting(49px, 49px, normal, $darknest-blue);

  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.gym__title b {
  display: block;
  margin: 0 0 39px 0;
  font-family: $default-font;

  @include font-setting(18px, 27px, normal, $darknest-blue);
}

.gym__description {
  margin: 0 0 9px 0;
  padding: 0;
  font-family: $default-font;

  @include font-setting(16px, 24px, 300, $darknest-blue);
}

.gym__photo {
  display: flex;
  flex-direction: column;
  width: 56.8965%;
}

.gym__photo picture {
  display: flex;
}

.gym__photo img {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.gym__video-wrapper {
  position: relative;
  display: flex;
  margin-top: -113px;
  margin-left: -62px;
  width: 364px;

  &--overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 54, 122, 0.5);
    opacity: 1;
  }

  &--overlay:hover::before,
  &--overlay:focus::before {
    opacity: 0;
  }
}

.gym__video-wrapper svg {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  z-index: 1;

  &:hover,
  &:focus {
    transform: scale(0.8);
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.gym__video-wrapper picture {
  display: flex;
}

.gym__video-wrapper img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

@media (max-width: $desktop-width) {
  .gym {
    flex-flow: column;
    padding-top: 60px;
    padding-bottom: 183px;
  }

  .gym__title {
    width: 100%;
    margin-right: 0;
    padding: 36px 0 32px;
  }

  .gym__title h2 {
    margin: 0 0 11px 0;

    @include font-setting(43px, 43px, normal, $darknest-blue);

    text-align: center;
  }

  .gym__title b {
    margin: 0 0 35px 0;
    text-align: center;
  }

  .gym__description {
    width: 511px;
    margin: 0 auto;
    margin-bottom: 10px;

    @include font-setting(16px, 24px, 300, $darknest-blue);

    text-align: center;
    letter-spacing: -0.01em;

    &--more {
      display: none;
    }
  }

  .gym__photo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 900px) {
      width: 794px;
      margin: 0 auto;
    }
  }

  .gym__photo img {
    width: 100%;
    height: 345px;

    @media (min-width: 769px) {
      height: auto;
    }
  }

  .gym__video-wrapper {
    position: absolute;
    bottom: -24.2%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    margin-left: 0;
    width: 39.233%;
    height: auto;
  }

  .gym__video-wrapper svg {
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    width: 72px;
    height: 72px;
  }

  .gym__video-wrapper img {
    width: 100%;
    height: 167px;
  }
}

@media (max-width: $tablet-width) {
  .gym {
    margin: 0;
    padding: 31px 0 69px 0;

    @media (min-width: 680px) {
      padding: 31px 12px 69px 12px;
    }
  }

  .gym__title {
    width: 100%;
    margin-right: 0;
    padding: 36px 4.0625% 23px 4.0625%;
  }

  .gym__title h2 {
    margin: 0 0 8px 0;

    @include font-setting(32px, 32px, normal, $darknest-blue);

    text-align: left;
  }

  .gym__title b {
    margin: 0 0 24px 0;
    text-align: left;
  }

  .gym__description {
    width: 100%;
    padding-right: 30px;
    text-align: left;
  }

  .gym__photo {
    height: 520px;

    @media (min-width: 900px) {
      width: 794px;
      margin: 0 auto;
    }
  }

  .gym__photo img {
    position: absolute;
    right: 0;
    bottom: 207px;
    width: 678px;
    height: 313px;

    @media (min-width: 680px) {
      right: 50%;
      transform: translateX(50%);
    }
  }

  .gym__video-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(0);
    width: 320px;
    height: 167px;

    @media (min-width: 321px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .gym__video-wrapper svg {
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    width: 72px;
    height: 72px;
  }

  .gym__video-wrapper img {
    bottom: 0;
    width: 320px;
    height: 167px;
    z-index: -1;
  }
}
