.stocks {
  padding-top: 66px;
  padding-bottom: 20px;

  @media (min-width: 1450px) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.stocks h2 {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue Cyrillic", "Arial", sans-serif;

  @include font-setting(49px, 49px, normal, $darknest-blue);

  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.stocks__inner {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 54px 0;

  @media (min-width: 1450px) {
    width: 1305px;
    margin: 0 auto;
  }
}

.stocks__year-promo {
  display: flex;
  flex-flow: row wrap;
  width: 48.2758%;
  margin-right: 3.4484%;
  min-height: 462px;
}

.stocks__year-promo div {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 50%;
  padding: 34px 8.0357% 45px;
  background-color: $red;
}

.stocks__year-promo span {
  font-family: $default-font;

  @include font-setting(28px, 44px, bold, $white);
}

.stocks__year-promo b {
  margin-top: -26px;
  font-family: $default-font;

  @include font-setting(70px, 109px, bold, $white);
}

.stocks__year-promo p {
  margin: 0;
  padding: 0;
  font-family: $default-font;

  @include font-setting(18px, 25px, normal, $white);
}

.stocks__year-promo a {
  margin: 0;
  margin-top: auto;
  padding: 0;
  font-family: $default-font;

  @include font-setting(14px, 16px, normal, $white);

  border-bottom: 1px solid $white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.stocks__year-promo img {
  object-fit: cover;
  width: 50%;
}

.stocks__inner ul {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  width: 48.2758%;
  list-style: none;
}

.stocks__inner ul li {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: calc(100% - 14px);
  min-height: calc(211px - 14px);
  margin: 7px;
  padding: 20px 20px 28px 27px;
  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    top: calc(-1 * 7px);
    left: calc(-1 * 7px);
    width: calc(100% + 7px * 2);
    height: calc(100% + 7px * 2);
    background: linear-gradient(to bottom right, #d10a42, #00359f);
    z-index: -1;
  }

  &:nth-of-type(n + 2) {
    margin-top: 47px;
  }
}

.stocks__inner ul li b {
  margin-bottom: 5px;
  font-family: $default-font;

  @include font-setting(26px, 36px, bold, $blue);
}

.stocks__inner ul li p {
  margin: 0;
  padding: 0;
  font-family: $default-font;

  @include font-setting(16px, 22px, normal, $blue);
}

.stocks__inner ul li a {
  margin-top: auto;
  font-family: $default-font;

  @include font-setting(12px, 16px, bold, $blue);

  border-bottom: 1px solid $blue;
  letter-spacing: 0.05em;
  text-transform: uppercase
}

@media (max-width: $desktop-width) {
  .stocks {
    padding-top: 96px;
    padding-bottom: 10px;
  }

  .stocks h2 {
    @include font-setting(42px, 42px, normal, $darknest-blue);
  }

  .stocks__inner {
    flex-flow: column;
    padding: 44px 0 10px;
  }

  .stocks__year-promo {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .stocks__year-promo div {
    width: 41.1504%;
    padding: 33px 6.6371% 45px;
    background-color: $red;
  }

  .stocks__year-promo img {
    width: 58.8495%;
  }

  .stocks__inner ul {
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
  }

  .stocks__inner ul li {
    width: calc(47.7876% - 14px);
    margin: 7px 7px 37px 7px;
    padding: 20px 20px 28px 27px;

    &:nth-of-type(n + 2) {
      margin-top: 7px;
    }

    &:nth-of-type(even) {
      margin-left: 37px;
    }
  }
}

@media (max-width: $tablet-width) {
  .stocks {
    padding-top: 67px;
    padding-bottom: 10px;
  }

  .stocks h2 {
    @include font-setting(32px, 32px, normal, $darknest-blue);
  }

  .stocks__inner {
    flex-flow: column;
    padding: 45px 0 10px;
  }

  .stocks__year-promo {
    flex-flow: column;
  }

  .stocks__year-promo div {
    align-items: center;
    width: 100%;
    min-height: 299px;
    padding: 33px 50px 45px;
    background-color: $red;
  }

  .stocks__year-promo p {
    margin-top: -4px;
    text-align: center;
  }

  .stocks__year-promo img {
    width: 100%;
    height: 299px;

    @media (min-width: 321px) {
      height: 100%;
    }
  }

  .stocks__inner ul li {
    align-items: center;
    width: calc(100% - 14px);
    margin: 7px;
    padding: 30px 14.2857% 39px;

    &:nth-of-type(even) {
      margin-left: 7px;
    }

    &:nth-of-type(n + 2) {
      margin-top: 37px;
    }
  }

  .stocks__inner ul li b {
    margin-bottom: 6px;
  }

  .stocks__inner ul li p {
    text-align: center;
  }
}
