html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: $default-font;
  background-color: $white;
  min-width: 320px;
  // Временно
  // max-width: 1366px;
  -moz-osx-font-smoothing: grayscale;
}

main {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  @include breakpoint;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;


  &--show {
    display: block;
  }
}
