@mixin breakpoint {
  width: $fixed-width;
  margin: 0 auto;
  padding-left: 103px;
  padding-right: 103px;

  @media (max-width: $fixed-width) {
    width: 100%;
    padding: 0 7.5402%;
  }

  @media (max-width: $desktop-width) {
    width: 100%;
    padding: 0 5.859%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 0 4.0625%;
  }
}

@mixin font-setting($size, $line-height, $font-width, $color: $darknest-blue) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-width;
  color: $color;
}
