$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1199px;
$desktop-width-max: 1450px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$default-font: "Roboto Condensed", "Open Sans", sans-serif;
$white: #ffffff;
$red: #ed0233;
$blue: #1c3374;
$darknest-blue: #102654;
$footer-black: #030a1a;
$shadow-gray: #e8e8e8;
